{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>MediaMe</title>
    <style>
        .body{
            background-color: blanchedalmond;
        }
    </style>
</head>
<body>
    {%include 'navbar.html' %}

    {%block content%}

    {%endblock%}

    <script>
        function toggleSettingsMenu() {
            const menu = document.getElementById('settingsMenu');
            menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        }
    </script>

    <!-- <script>
        function toggleSettingsMenu() {
            const menu = document.getElementById('settingsMenu');
            menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        }

        document.addEventListener('click', function(event) {
            const menu = document.getElementById('settingsMenu');
            const icon = document.querySelector('.settings-icon');
            if (menu && !menu.contains(event.target) && !icon.contains(event.target)) {
                menu.style.display = 'none';
            }
        });
    </script> -->
</body>
</html>