{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    
<div class="search-box">
    <form class="search-form" method="get" action="{% url 'search_page' %}">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
</div>
    <h2>Results</h2>
    <div class="resultdisplay">
        <ul>
            <div class="result-element">
                {% for media in results %}
                    
                    
                    <li>
                        {% if media.poster %}
                        <a href="{% url 'title_page' media.id %}"><img src="{{media.poster.url}}" alt="poster" class="result-poster"></a>
                        {% endif %}
                        {{ media.title }} - {{ media.creator }} - {{ media.media_type }} - {{ media.genres }}
                    </li>
                {% empty %}
                    <li>No results found</li>
                {% endfor %}
            </div>
            
        </ul>
    </div>
{% endblock %}
