{% extends 'main.html'%}
{% load static %}
{%block content%}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h1>title page</h1>
<div class="title-container">
    
    <div class="side-container">
        <ul>
            <li href=""><strong>Reviews</strong></li>
            <li><strong>Characters</strong></li>
            <li><strong>Plot</strong></li>
            <li><strong>Visuals</strong></li>
        </ul>
    </div>
    <div class="main-container">
        <img src="../../static/images/testimage.png" alt="Poster">
        <br>
        <h2>{{media.title}}</h2>
        
        <p> {{media.description}}
        </p>
    </div>
</div>
<div>
    <h2>Participants</h2>
</div>
{%endblock%}
<!--{% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}-->
