{% extends 'main.html'%}

{%block content%}
<style>
    .title-container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 3fr 1fr;
        column-gap: 50px;
    }
</style>
<h1>Title page</h1>
<div class="title-container">
    
    <div>
        <ul>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#characters">Characters</a></li>
            <li><a href="#plot">Plot</a></li>
            <li><a href="#visuals">Visuals</a></li>
        </ul>
        <!-- <ul>
            <li><a href="{% url 'room-tab' pk=media.id tab='reviews' %}">Reviews</a></li>
            <li><a href="{% url 'room-tab' pk=media.id tab='characters' %}">Characters</a></li>
            <li><a href="{% url 'room-tab' pk=media.id tab='plot' %}">Plot</a></li>
            <li><a href="{% url 'room-tab' pk=media.id tab='visuals' %}">Visuals</a></li>
        </ul> -->
    </div>
    <div>
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        <img src="" alt="Poster">
        <h2>{{ media.title }}</h2>
        <p>{{ media.description }}</p>
    </div>
</div>
<div class="active-participants">
    <h3>Most Active Participants</h3>
    <ul>
        {% for participant in active_participants %}
            <li>{{ participant.username }} - Posts: {{ participant.post_count }}</li>
        {% empty %}
            <li>No active participants yet.</li>
        {% endfor %}
    </ul>
</div>
{%endblock%}
